*{
  font-family: -apple-system,".SFNSText-Regular","San Francisco","Roboto","Segoe UI","Helvetica Neue","Lucida Grande",Arial,sans-serif;
  color: #494E52;
  line-height: 1.2;
}
  p{
  margin: 2em 0 !important;
  padding: 1em;
  font-family: -apple-system,".SFNSText-Regular","San Francisco","Roboto","Segoe UI","Helvetica Neue","Lucida Grande",Arial,sans-serif;
  font-size: .75em !important;
  text-indent: initial;
  background-color: #eef7fa;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(82,173,200,0.25);
  box-sizing: border-box;
  }
  li{
  font-size: .9em;
  margin-bottom: 0.5em;
  }
  body{
  margin-left: 33%;
  margin-right: 33%;
  }
  code{
  font-family: Monaco,Consolas,"Lucida Console",monospace !important;
  padding-top: 0.15rem;
  padding-bottom: 0.15rem;
  font-size: .75em !important;
  background: #fafafa;
  border: 1px solid #f2f3f3;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.125);
  box-sizing: border-box;}
  p:nth-of-type(4),p:nth-of-type(5),p:nth-of-type(6){display:none!important;}
  a{color:#52adc8!important;}
}